<div class="container">
    <mat-form-field appearance="fill">
        <mat-label>Name</mat-label>
        <input matInput value="{{ dataUser ? dataUser.name : ''}}">
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Last Name</mat-label>
        <input matInput value="{{dataUser ? dataUser.lastName : ''}}">
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Email</mat-label>
        <input matInput value="{{dataUser ? dataUser.email : ''}}">
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>User Name</mat-label>
        <input matInput value="{{ dataUser ? dataUser.user : ''}}">
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Phone Number</mat-label>
        <input matInput value="{{ dataUser ? dataUser.phoneNumber : ''}}">
      </mat-form-field>
</div>
