$category_color_life: orangered;
$category_color_sport: blue;
$category_color_style: red;

$default_white: whitesmoke;
$default_black: #000;
$file_white: #ccc;
$card_background: #66636b;

$background_color: #d5d3da;
$button_purpure: #451e89;
     